/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* LAYOUT */
.container {
  width: 80%;
  margin: 0 auto;
}

h2 {
  margin: 2rem;
}

h3 {
  margin-bottom: 1rem;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

ul {
  list-style: none;
}

button {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
  cursor: pointer;
  border: none;
}

/* MAIN */
input {
  height: 1.8rem;
  width: 80%;
  margin-right: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(167, 167, 167);
  padding-left: 0.5rem;
}

.btn-submit {
  background-color: #0d6efd;
}

.added-articles {
  border: 1px solid rgb(160, 160, 160);
  border-radius: 20px;
  padding: 1rem;
  margin-top: 2rem;
}

.article {
  border: 1px solid rgb(167, 167, 167);
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.bnt-erase {
  background-color: rgb(233, 0, 0);
}